p{
 background:rgb(6,87,87)url(/home/user/anu/vak/ANUVINDA.jpg)center no-repeat;
 background-position: right;
 padding:20px;
 height:400px;
 width:600px;
 margin-top:50px;
 margin-left:50px;
 border:5px solid red;
 border-radius: 5px;
 color:white;
 text-decoration: none;
 line-height: 6;
 line-spacing
 text-align:justify;
 word-spacing: :2px;
 text indent:8px;
 font: 1em sans-serif;
 font-weight:bold;
 font-size:15px;
 font-style:italic;
 

}
h1{
    text-align:center;
    color:white;
    border:2px solid white;
    background-color: teal;
}